@import "tailwindcss";
@theme {
  --font-sans: "Cairo", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--font-sans);
    direction: rtl;
    background: #f1f5f9;
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
  }
}
